/* .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
  } */

  #loading {
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: center no-repeat #00112274;
}
 
/*-- css spin --*/
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  @import url('https://fonts.googleapis.com/css2?family=Sarpanch&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  
  body {
      /* min-height: 100vh; */
      display: flex;
      justify-content: center;
      align-items: center;
      /* background: #001122; */
  }
  
  .svg-frame {
      position: relative;
      width: 300px;
      height: 300px;
      transform-style: preserve-3d;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .svg-frame svg {
      position: absolute;
      transition: .5s;
      z-index: calc(1 - (0.2 * var(--j)));
      transform-origin: center;
      width: 344px;
      height: 344px;
      fill: none;
  }
  
  .svg-frame:hover svg {
      transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
  }
  
  .svg-frame svg #center {
      transition: .5s;
      transform-origin: center;
  }
  
  .svg-frame:hover svg #center {
      transform: rotate(-30deg) translateX(45px) translateY(-3px);
  }
  
  #out2 {
      animation: rotate1 7s ease-in-out infinite alternate;
      transform-origin: center;
  }
  
  @keyframes rotate1 {
      to {
          transform: rotate(360deg);
      }
  }
  
  #out3 {
      animation: rotate1 3s ease-in-out infinite alternate;
      transform-origin: center;
      stroke: #ff0;
  }
  
  @keyframes rotate1 {
      to {
          transform: rotate(360deg);
      }
  }
  
  #inner3,
  #inner1 {
      animation: rotate1 4s ease-in-out infinite alternate;
      transform-origin: center;
  }
  
  @keyframes rotate1 {
      to {
          transform: rotate(360deg);
      }
  }
  
  #center1 {
          fill: #ff0;
      animation: rotate1 2s ease-in-out infinite alternate;
      transform-origin: center;
  }
  
  @keyframes rotate1 {
      to {
          transform: rotate(360deg);
      }
  }
  
  p {
      position: absolute;
      color: #00ffff40;
      top: -80px;
      font-family: 'Sarpanch', sans-serif;
      font-size: 1.2rem;
  }